.page::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;

    background: url("//i.loli.net/2019/11/24/erWI7ji2yCBKu1M.jpg") no-repeat;
    background-size: cover;
    filter: blur(40px);
    z-index: -2;
}

.page::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.4);
}

.logo>svg{
    width: 92px;
    height: 17px;
    margin-left: 10px;
    margin-top: 10px;
}

.page>.disk {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.page>.disk>.circle {
    width: 248px;
    height: 248px;
    overflow: hidden;
    position: relative;
   
}

.page>.disk>.circle>img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    border-radius: 50%;
    z-index: -1;
}

@media screen and (min-width: 360px)
{
    .page>.disk>.circle {
        width: 296px;
        height: 296px;
        position: relative;
        overflow: hidden;
    }
    .page>.disk>.circle>img {
        width: 190px;
        height: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -95px;
        margin-top: -95px;
        border-radius: 50%;
        z-index: -1;
    }
}

@media screen and (min-width: 414px)
{
    .page>.disk>.circle {
        width: 342px;
        height: 342px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .page>.disk>.circle>img {
        width: 224px;
        height: 224px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -112px;
        margin-top: -112px;
        border-radius: 50%;
        z-index: -1;
    }
}

.page>.disk>.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("//i.loli.net/2019/11/24/VDkATawKYdOo1qh.png") no-repeat center;
    background-size: cover;
}

.page>.disk>.circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("//i.loli.net/2019/11/24/XJPSlp5nZBMzw6t.png") no-repeat center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
}



.page>.disk>.circle>img,
.page>.disk>.circle::after{
    animation: spin 20s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.page>.disk>.pause>img,
.page>.disk>.pause::after {
    animation-play-state: paused;
}

.page>.disk>.pause::after {
    content: '';
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -28px;
    background: url("//i.loli.net/2019/11/24/K5AOi8VSUXu7L3P.png") no-repeat;
    background-size: cover;
    
}



/* bottom tool */

.bottomTool {
    position: fixed;
    bottom: 35px;
    left: 0;
    width: 100%;
}

.currentTime {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 35px;
}

.currentTime>span {
    color: #E0E0E0;
    font-size: 12px;
}

.currentTime .wrap{
    background-color: #4D494A;
    width: 70%;
    height: 3px;
    border-radius: 20px;
}

.currentTime .currentWrap {
    background-color: #D9404A;
    z-index: 2;
    height: 3px;
    border-radius: 20px;
    
}

.toolButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toolButton>div>img {
    width: 50px;
    height: 50px;
}

.toolButton>div.playMethod>img {
    width: 25px;
    height: 25px;
}

.toolButton>div.playList>img {
    width: 25px;
    height: 25px;
}

.toolButton>div.playSong>img.pause {
    display: none;
}

.toolButton>div.playSong>img.active {
    display: inline-block;
    vertical-align: top;
}
